{
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx"],
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"]
}
