<app-header></app-header>

<main class="main px-4" aria-label="App Component">
  <div class="">
    <div class="bg-slate-100">
      <ul class="flex text-gray-900 dark:text-white">
        <li>
          <a routerLink="/" routerLinkActive="text-blue-500" class="hover:underline">root</a>
        </li>
        <li>/</li>
        <li>
          <a routerLink="/signin" routerLinkActive="text-blue-500" class="hover:underline">signin</a>
        </li>
      </ul>
      <!-- <ul class="flex text-gray-900 dark:text-white">
        <li>
          <a
            routerLink="/"
            routerLinkActive="text-blue-500"
            class="hover:underline"
            >Home</a
          >
        </li>
        <li>/</li>
        <li>
          <a
            routerLink="/todos"
            routerLinkActive="text-blue-500"
            class="hover:underline"
            >Todos</a
          >
        </li>
      </ul> -->
    </div>
  </div>
</main>

<router-outlet />
