tbody tr td {
  border-bottom: 1px solid #ededed;
  font-size: 1rem;
  padding: 0.625rem;
  text-align: center;
  vertical-align: middle;
}

tbody tr:hover {
  background-color: #2a7de120;
}

tbody tr:last-child td {
  border-bottom: 1px solid #cccccc;
}

thead tr th {
  border-bottom: 1px solid #cccccc;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.625rem;
  text-align: center;
  vertical-align: middle;
}
