<div class="flex-shrink flex-grow-0 bg-vibrant" aria-label="Sidebar Navigation Menu">
  <div class="sticky top-0 flex h-screen translate-x-0 flex-col overflow-y-auto bg-vibrant px-3 py-4">
    <nav>
      <ul class="mt-2 space-y-3">
        <sidebar-item-upper path="/dashboard" icon="dashboard">Dashboard</sidebar-item-upper>
        <sidebar-item-upper path="/customers" icon="customers">Customers</sidebar-item-upper>
        <sidebar-item-upper path="/campaigns" icon="campaign">Campaigns</sidebar-item-upper>
        <sidebar-item-upper path="/profile" icon="profile">Profile</sidebar-item-upper>
        <sidebar-item-upper path="/settings" icon="settings">Settings</sidebar-item-upper>
      </ul>
    </nav>
  </div>
</div>
